


.project-container{

   display: flex;
   flex-direction: column;
   margin-top: 150px;
    overflow: hidden;

}

.title{
  margin-left: 100px;
}

.discription{
    margin-left: 100px;
    width: 700px;
}

.image{
     margin-left: 900px;
    margin-top: -27%; 
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: aquamarine;
}