


.project-container{

   display: flex;
   flex-direction: row;
   margin-top: 100px;
   justify-content: space-around;
    overflow: hidden;
    padding-bottom: 27;

}

.project-inner{
  margin-top: 20px;
    display: flex;
     flex-direction: column;
    overflow: hidden;
}

.title{
  margin-left: 100px;
}

.discription{
    margin-left: 100px;
    width: 700px;
}

.link{
  margin-top: 100px;
  margin-left: 100px;
  width: 700px;
}

.image{
    margin-top: 140px;
    /* margin-top: -27%;  */
    /* width: 500px;
    height: 500px; */
    /* border-radius: 50%;  */
    background-color: aquamarine;
    -webkit-mask-image: url(../assets/mask.svg);
    mask-image: url(../assets/mask.svg);
    mask-repeat: no-repeat;   
    height: 500px; 

}

#dec-project{
  font-size: medium;
  margin-left: 15px;
  margin-right: 15px;
}

#img-project {
  margin-top: 20px;
  width: 250px;
  height: 150px;
  margin-left: 15px;
}

#pro-title{
  margin-top: 10px;
  margin-left: 15px;
}

#prj-img{
 object-fit: fill;
  width: 600px;
}